<div id='page-wrapper'>
  <div class='container-fluid'>
    <h3>Чтобы добавить скидку, выберите вкладку "Без скидки", чтобы удалить действующую скидку - вкладку "Со скидкой"</h3>
    <table class='table'>
      <tr>
        <td>
          <div class= "catalog navbar">
            <ul class="nav nav-tabs">
              <li role="presentation"><%= link_to "Со скидкой", discount_active_patterns_admin_index_path %></li>
              <li role="presentation"><%= link_to "Без скидки", no_discount_patterns_admin_index_path %></li>
              <li role="presentation" class="active"><%= link_to "Показать все", discount_patterns_admin_index_path %></li>
            </ul>
        </td>
        <td>
          <%= form_tag discount_patterns_admin_index_path, method: :get do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", name: nil %>
            </p>
          <% end %>
        </td>
        </div>
      </tr>
      <tr>
        <td><a href="#" class="all-checked">Выбрать всё</a></td>
        <td><a href="#" class="all-unchecked">Снять выбор</a></td>
      </tr>
        <div class="partial-discount-patterns">
          <% @patterns.each do |pattern| %>
          <tr>
            <td><img src="<%= image_path pattern.image.url(:thumb) %>"></td>
            <td><%= link_to "#{pattern.title_ru}", pattern_path(pattern) %></td>
              <% if pattern.discount_active? %>
                <td class="active-discount_<%= pattern.id %>">Действующая скидка: <%= pattern.discount_percentage %>%</td>
                <td class="discount_pending_check_<%= pattern.id %>"></td>
              <% else %>
                <td class="active-discount_<%= pattern.id %>">Действующая скидка: нет</td>
              <% end %>
          </tr>
          <% end %>
        </div>
  </table>
  </div>
</div>
