  <div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Панель управления</h1>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="dashboard-panel dashboard-panel-users">
              <h4 class="dashboard-panel-heading">Всего пользователей</h4>
                <div class="row">
                  <i class="fa fa-user-circle fa-3x"></i>
                  <h3 class=" dashboard-panel-number"><%= User.count %></h3>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="dashboard-panel dashboard-panel-orders">
              <h4 class="dashboard-panel-heading">Всего заказов</h4>
                <div class="row">
                  <i class="fa fa-shopping-cart fa-3x"></i>
                  <h3 class="dashboard-panel-number"><%= User.count %></h3> <!-- not implemented yet, change to Order later -->
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="dashboard-panel dashboard-panel-visitors">
              <h4 class="dashboard-panel-heading">Всего посещений</h4>
                <div class="row">
                  <i class="fa fa-user-circle-o fa-3x"></i>
                  <h3 class="dashboard-panel-number"><%= User.count %></h3> <!-- not implemented yet -->
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="new-orders-panel">
              <table class="table">
                <th>
                  <h4 class="subpanel-header">
                    <i class="fa fa-shopping-cart fa-fw"></i> Новые заказы
                  </h4>
                </th>
                  <tr>
                    <td>
                      <p>Здесь будут отображаться несколько недавно поступивших заказов</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>По ссылке можно будет посмотреть перечень товаров в заказе, сумму и пользователя, сделавшего заказ</p>
                    </td>
                  </tr>
                </table>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="notifications-panel">
                <table class="table">
                  <th class>
                    <h4 class="subpanel-header">
                      <i class="fa fa-bell fa-fw"></i> Панель уведомлений
                    </h4>
                  </th>
                <div class="notifications">
                    <% @admin_notifications.take(4).each do |a| %>
                      <tr class="notification-items">
                        <td class="col-md-10">
                          <% if a.notifiable_type == "User" %>
                            <p><!-- make show action and see if it's the issue -->
                              Зарегистрирован новый пользователь <%= link_to a.notifiable.email, user_path(a.notifiable) %>
                            </p>
                          <% else %>
                            <p>
                              Пользователь <%= link_to a.actor.email, user_path(a.actor) %> добавил(а)
                              <%= link_to "новый товар", polymorphic_path(a.notifiable) %> <!-- routes to notifiable polymorphic object -->
                            </p>
                          <% end %>
                        </td>
                        <td class="col-md-2">
                          <%= link_to mark_as_read_admin_notification_path(a), remote: true, :class => "mark_as_read" do %>
                            <i class="fa fa-check-circle fa-2x"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    <tr>
                      <td class="notifications-all col-md-12">
                        <%= link_to "просмотреть все", admin_notifications_path %>
                        <%= link_to "mark as unread", mark_as_unread_admin_notifications_path %>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>
        </div>
</div>
