<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Панель управления</h1>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-panel">
              <h4 class="dashboard-panel-heading">Зарегистрированных пользователей</h4>
                <div class="row">
                  <i class="col-md-4 fa fa-user-circle fa-2x"></i>
                  <h4 class="col-md-4 dashboard-panel-number"><%= User.count %></h4>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-panel">
              <h4 class="dashboard-panel-heading">Всего заказов</h4>
                <div class="row">
                  <i class="col-md-4 fa fa-shopping-cart fa-2x"></i>
                  <h4 class="col-md-4 dashboard-panel-number"><%= User.count %></h4> <!-- not implemented yet, change to Order later -->
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-panel">
              <h4 class="dashboard-panel-heading">Всего посещений</h4>
                <div class="row">
                  <i class="col-md-4 fa fa-user-circle-o fa-2x"></i>
                  <h4 class="col-md-4 dashboard-panel-number"><%= User.count %></h4> <!-- not implemented yet -->
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="new-orders-panel">
              <div class="navbar navbar-default">
                <ul class="nav navbar-nav">
                  <li><i class="pull-right fa fa-shopping-cart fa-2x"></i></li>
                  <li><h4 class="subpanel-header">Новые заказы</h4></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="notifications-panel">
              <div class="navbar navbar-default">
                <ul class="nav navbar-nav">
                  <li><i class="pull-right fa fa-bell fa-2x"></i></li>
                  <li><h4 class="subpanel-header">Панель уведомлений</h4></li>
                </ul>
              </div>
                <div class="notifications">
                  <table class="table">
                    <% @admin_notifications.take(8).each do |a| %>
                      <tr class="notification-items">
                        <td class="col-md-10">
                          <p>
                            Пользователь <%= link_to a.actor.email, edit_user_registration_path(a.actor) %> добавил(а)
                            <%= link_to "новую схему", pattern_path(a.notifiable) %>
                          </p>
                        </td>
                        <td class="col-md-2">
                          <%= link_to mark_as_read_admin_notification_path(a), remote: true, :class => "mark_as_read" do %>
                            <i class="fa fa-check-circle fa-2x"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    <tr>
                      <td class="notifications-all col-md-12">
                        <%= link_to "просмотреть все", admin_notifications_path %>
                        <%= link_to "mark as unread", mark_as_unread_admin_notifications_path %>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>
        </div>
        <!-- <div class="notifications">
        <% @admin_notifications.each do |a| %>
        <ul>
          <li><%= a.id %></li>
          <li><%= a.actor.email %></li>
          <li><%= a.read_at %></li>
          <li><%= link_to "Mark as read", mark_as_read_admin_notification_path(a) %>
        </ul>
        <% end %>
      </div> -->
</div>
