<div id="page-wrapper">
    <div class="container-fluid">
      <table class="col-md-12 table">
        <tr>
          <td>
            <%= link_to clear_all_admin_notifications_path, data: {confirm: "Вы уверены?"} do %>
              <h4><i class="fa fa-trash-o fa-2x"></i> Удалить все уведомления</h4>
            <% end %>
          <td>
        </tr>
          <% @admin_notifications.each do |a| %>
              <tr class="notification-items">
                <td class="col-md-10">
                  <% if a.notifiable_type == "Pattern" %>
                    <p>
                      Пользователь <%= link_to a.actor.email, edit_user_registration_path(a.actor) %> добавил(а)
                      <%= link_to "новую схему", pattern_path(a.notifiable) %>
                    </p>
                  <% elsif a.notifiable_type == "User" %>
                    <p>
                      Зарегистрирован новый пользователь <%= link_to a.actor.email, edit_user_registration_path(a.actor) %>
                    </p>
                  <% end %>
                </td>
              <td class="col-md-2">
                <%= link_to admin_notification_path(a), remote: true, method: :delete, data: {confirm: 'Вы уверены?'}, :class => "delete-notification" do %>
                  <i class="fa fa-trash-o fa-2x"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
      </table>

    </div>
</div>
