<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= t "views.patterns.header" %></title>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'strands', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>
  <div class="show-wrapper container">
    <div class="row">
      <div class="col-md-6">
        <img src="<%= image_path @strand.image.url %>" alt="" class="img-responsive">
      </div>

        <div class="col-md-6">
          <div class="row">

            <div class="col-md-12">
              <% if I18n.locale == :en %>
                <h1>
                  <%= @strand.title_en %>
                </h1>
              <% else %>
                <h1>
                  <%= @strand.title_ru %>
                </h1>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 bottom-rule">
              <% if session[:currency] == "RUB" %>
                <h2 class="product-price">
                  <strong><%= t "views.common.price" %></strong>
                  <%= number_to_currency(@strand.price_rub, :unit => '₽') %>
                </h2>
              <% else %>
                <h2 class="product-price">
                  <strong><%= t "views.common.price" %></strong>
                  <%= number_to_currency(@strand.price_usd, :unit => '$') %>
                </h2>
              <% end %>
            </div>
          </div>

          <div class="row add-to-cart">
            <div class="col-md-4 text-left">
              <h3><%= t("views.common.in_stock") %></h3>
            </div>
            <div class="col-md-8">
              <%= form_tag({controller: 'cart_items', action: 'create_strand'}, remote: true, method: 'POST', class: 'quantity-form') do %>
                <div class="row">
                  <div class="col-md-6">
                    <%= number_field_tag 'quantity', value = 1 %>
                  </div>
                  <div class="col-md-6" id="quantity-submit">
                    <%= button_tag({type: 'submit', class: 'btn add2cart'}) do %>
                      <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i> <%= t("views.common.add_to_cart") %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="row top-10">
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-7 top-ten">
            <%= link_to cart_path, :class => "btn add2cart" do %>
              <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> <%= t("application.navbar.my_cart") %>
            <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 bottom-rule top-10"></div>
          </div>

          <div class="row">
            <div class="col-md-12 top-10">
              <h4>
                <strong><%= Strand.human_attribute_name("manufacturer") %></strong>
                <%= @strand.manufacturer %>
              </h4>
            <div class="top-20">
              <h4>
                <strong><%= Strand.human_attribute_name("color") %></strong>
                <%= @strand.color %>
              </h4>
            </div>
            </div>
          </div>
      </div>
        <% if user_signed_in? && current_user.admin? %>
          <div class="btn-group pull-right">
            <%= link_to t("views.common.edit"), edit_strand_path(@strand), :class => 'btn btn-success outline btn-lg btn-full-width' %> |
            <%= link_to t('views.cart_items.c_s'), strands_path, :class => "btn btn-primary outline btn-lg btn-full-width" %>
          </div>
        <% else %>
          <div class="btn-group pull-right">|
            <%= link_to t('views.cart_items.c_s'), strands_path, :class => "btn btn-primary outline btn-lg btn-full-width" %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
  </div>

</body>
</html>
