<% if I18n.locale == :en %>
  <%= link_to cart_item.product.title_en, polymorphic_path(cart_item.product) %>
<% else %>
  <%= link_to cart_item.product.title_ru, polymorphic_path(cart_item.product) %>
<% end %>

<% if cart_item.pattern_id.present? %>
  <h5 class="media-heading"><%= link_to cart_item.category, patterns_path %></h5>
<% elsif cart_item.strand_id.present? %>
  <h5 class="media-heading"><%= link_to cart_item.category, strands_path %></h5>
<% end %>

<% if cart_item.strand_id.present? %>
  <span class="text-success">
    <% if cart_item.product.storage_quantity < 10 && cart_item.product.storage_quantity > 0 %>
      <p class="storage-few-left"><%= t("views.common.few_left") %></p>
    <% elsif cart_item.product.storage_quantity == 0 %>
      <p class="storage-out-of-stock"><%= t("views.common.out_of_stock") %></p>
    <% else %>
      <p class="storage-in-stock"><%= t("views.common.in_stock") %></p>
    <% end %>
  </span>
<% end %>
