<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bonnechanse Home</title>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>


</head>

<body>
    <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="new-goods col-md-7 col-sm-7">
        <h3 class="subtitle"><%= t "views.home.wn" %></h3>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="main-page-image" src="<%= image_path ("Wallpapers 1920x1080.jpg") %>" alt="...">
              <div class="carousel-caption">
                <p>Autumn Forest</p>
              </div>
            </div>
            <div class="item">
              <img class="main-page-image" src="<%= image_path ("Osenniy-les-11609.jpg") %>" alt="...">
              <div class="carousel-caption">
                <p>Autumn Forest</p>
              </div>
            </div>
            <div class="item">
              <img class="main-page-image" src="<%= image_path ("alps-020.jpg") %>" alt="...">
              <div class="carousel-caption">
                <p>Alps</p>
              </div>
            </div>
            <div class="item">
              <img class="main-page-image" src="<%= image_path ("af09384d0c5aa86c0ca341cf91190e07.png") %>" alt="...">
              <div class="carousel-caption">
                <p>Stormy sea</p>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="fa fa-angle-double-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="actual-discount col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1">
        <h3 class="subtitle"><%= t "views.home.ad" %></h3>
        <img src="<%= image_path ("moon-light-0.jpg") %>" alt="">
        <div class="discount-caption">
          <h3>Еженедельная распродажа</h3>
          <h3>Скидка 75%</h3>
        </div>
      </div>
    </div>

    <hr>

  <div class="row">
    <div class="col-lg-12">
      <h3><%= t "page.home.catalog_header" %></h3>
    </div>
  </div>

  <div class="main-page-catalog">
    <%= link_to patterns_path, :class => "catalog-link" do %>
      <div class="category-item">
        <img src="<%= image_path ("patterns.jpg") %>" alt="">
          <div class="caption">
            <h3><%= t "page.home.catalog_pattern" %></h3>
          </div>
        </div>
    <% end %>
    <%= link_to strands_path, :class => "catalog-link" do %>
      <div class="category-item">
        <img src="<%= image_path ("threads.jpg") %>" alt="">
          <div class="caption">
            <h3><%= t "page.home.catalog_thread" %></h3>
            </div>
        </div>
    <% end %>

    <%= link_to fabrics_path, :class => "catalog-link" do %>
      <div class="category-item">
        <img src="<%= image_path ("fabric-selection.jpg") %>" alt="">
          <div class="caption">
            <h3><%= t "page.home.catalog_fabric" %></h3>
          </div>
        </div>
    <% end %>

    <%= link_to kits_path, :class => "catalog-link" do %>
      <div class="category-item">
        <img src="<%= image_path ("kits.jpg") %>" alt="">
          <div class="caption">
            <h3><%= t "page.home.catalog_kit" %></h3>
          </div>
      </div>
    <% end %>

    <%= link_to accessories_path, :class => "catalog-link" do %>
      <div class="category-item">
        <img src="<%= image_path ("accessories.jpg") %>" alt="">
          <div class="caption">
            <h3><%= t "page.home.catalog_accessory" %></h3>
          </div>
      </div>
    <% end %>

<!-- /.row -->
  </div>

  <div class="row">

    <div class="col-md-6 col-sm-7">
      <h3><%= t "views.home.news" %></h3>
        <div class="news">
       <!-- no back-end yet, whole post make clickable later -->
          <div class="row">
            <div class="col-md-4">
              <img src="<%= image_path ("Diamond-mosaic-font-b-pattern-b-font-needle-art-picture-rhinestones-christmas-decoration-set-for-cross.jpg") %>" alt="">
            </div>
            <div class="col-md-8">
              <h3 class="news-header">New Pattern - <%= link_to "Hello Kitty", patterns_path %></h3>
              <p class="Timestamp">Timestamp</p> <!-- no back-end for new yet, make later -->
              <p class="news-text">
              Narwhal retro raw denim pitchfork, edison bulb neutra biodiesel raclette pinterest waistcoat.
              </p>
              <div class="bottom-rule">
              </div>
            </div>
          </div>
        </div>
        <div class="news">
            <div class="row">
              <div class="col-md-4">
                <img src="<%= image_path ("CHx7ZXy2hB8.jpg") %>" alt="">
              </div>
              <div class="col-md-8">
                <h3 class="news-header">New Pattern - <%= link_to "Autumn Forest", patterns_path %></h3>
                <p class="Timestamp">Timestamp</p> <!-- no back-end for new yet, make later -->
                <p class="news-text">
                Polaroid af roof party street art put a bird on it normcore, everyday carry wolf pabst chambray XOXO taxidermy hoodie disrupt helvetica. Venmo pork belly swag, selfies PBR&B unicorn food truck letterpress etsy poke pour-over iceland microdosing everyday carry.
                </p>
              </div>
            </div>
        </div>

      </div>

    <div class="col-md-5 col-sm-4 col-md-offset-1">
      <h3><%= t "views.home.highlights.op" %></h3>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="/"><%= t "views.home.highlights.popular" %></a></li>
          <li><a href="~/About/Index"><%= t "views.home.highlights.new" %></a></li>
          <li><a href="~/Contact/Index"><%= t "views.home.highlights.cs" %></a></li>
          <li><a href="~/Contact/Index"><%= t "views.home.highlights.discounts" %></a></li>
        </ul>
      </div>
        <div class="highlights">
          <% @main_page_items.each do |pattern| %>
          <div class="row">
              <div class="col-md-3">
                <img src="<%= image_path pattern.image.url %>" alt="">
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-11">
                    <% if I18n.locale == :en %>
                      <h4 class="highlight-header"><%= pattern.title_en %></h4>
                    <% else %>
                      <h4 class="highlight-header"><%= pattern.title_ru %></h4>
                    <% end %>
                    <p class="highlight-category"><%= Pattern.human_attribute_name("category") %>: <%= pattern.category %></p>
                  </div>
                    <% if session[:currency] == "RUB" %>
                      <button class="product-price"><%= number_to_currency(pattern.price_rub, :unit => '₽') %></button>
                    <% else %>
                      <button class="product-price"><%= number_to_currency(pattern.price_usd, :unit => '$') %></button>
                    <% end %>
                </div>
              </div>
          </div>
          <hr>
          <% end %>
        </div>
    </div>
  </div>
<!-- /.container -->
</div>

        <hr>

</body>

</html>
