<!DOCTYPE html>
<html>
<head>
<title>Onlinestore3</title>
  <%= stylesheet_link_tag 'carts', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <h1 class='title'><%= t "views.cart_items.title" %></h1>
            <div id="cart-empty">
              <%= render 'cart_items/cart_empty' %>
            </div>
          <br><br><br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th><%= t "views.cart_items.quantity" %></th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                  <% @cart_items.each do | cart_item | %>
                    <tr id="cart-item_<%= cart_item.id %>">
                        <td class="col-sm-6 col-md-4">
                        <div class="media">
                          <img src="<%= image_path cart_item.product.image.url(:thumb) %>" alt="">
                            <div class="media-body">
                              <%= render 'carts/partials/product_links', cart_item: cart_item %> <!-- contains links to product, category and status (in Stock etc.), implement for other categories later -->
                            </div>
                        </div>
                        </td>
                        <td class="quantity row col-sm-2 col-md-2">
                          <%= link_to quantity_increase_cart_item_path(cart_item), remote: true, :class => 'plus' do %>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          <% end %>
                          <span id='quantity_update_<%= cart_item.id %>'><%= cart_item.quantity %></span>
                          <%= link_to quantity_decrease_cart_item_path(cart_item), remote: true, :class => 'minus', method: :delete do %>
                            <i class="fa fa-minus" aria-hidden="true"></i>
                          <% end %>
                        </td>
                        <% if session[:currency] == "RUB" %>
                          <td class="col-sm-1 col-md-1 text-center" id='price_rub'><strong><%= number_to_currency(cart_item.product.price_rub, :unit => '₽') %></strong></td>
                        <% else %>
                          <td class="col-sm-1 col-md-1 text-center" id='price_usd'><strong><%= number_to_currency(cart_item.product.price_usd, :unit => '$') %></strong></td>
                        <% end %>
                        <td id="current-product-price_<%= cart_item.id %>" class="col-sm-1 col-md-1 text-center">
                          <%= render 'cart_items/current_product_price', cart_item: cart_item %>
                        </td>
                        <td class="col-sm-1 col-md-1">
                        <%= link_to t("views.cart_items.delete"), cart_item_path(cart_item), data: { confirm: "#{t "views.common.confirm"}" }, remote: true, method: :delete, :class => "cart-item-delete" %>
                        </td>
                    </tr>
                  <% end %>
                </tbody>
                <tfoot>
                    <tr id="current-cart-total">
                      <%= render 'cart_items/current_cart_total' %>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                          <%= link_to t('views.cart_items.c_s'), root_path, :class => "btn btn-primary outline btn-lg btn-full-width" %>
                        <td>
                          <%= link_to t('views.cart_items.p_o'), confirm_order_cart_path, :class => "btn btn-success outline btn-lg btn-full-width" %>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

</body>
</html>
