<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>

    <title>Панель управления</title>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'admin_notifications', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
            <%= link_to "bonnechanse", root_path, :class => 'navbar-brand' %>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li>
              <%= link_to admin_index_path do %>
                <i class="fa fa-home fa-fw"></i>Вернуться к панели управления
              <% end %>
            </li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i><%= current_user.email %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><%= link_to edit_user_registration_path do %>
                          <i class="fa fa-user fa-fw"></i>Настройки аккаунта</a>
                        <% end %>
                    </li>
                    <li class="divider"></li>
                    <li><%= link_to destroy_user_session_path, method: :delete do %>
                          <i class="fa fa-sign-out fa-fw"></i>Выйти</a>
                        <% end %>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Поиск...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <%= link_to admin_index_path do %>
                          <i class="fa fa-dashboard fa-fw"></i>Панель управления
                        <% end %>
                    </li>
                    <li>
                      <%= link_to users_path do %>
                        <i class="fa fa-address-book fa-fw"></i> Пользователи
                      <% end %>
                    </li>
                    <li>
                      <%= link_to carts_path do %>
                        <i class="fa fa-money fa-fw"></i> Заказы
                      <% end %>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-truck fa-fw"></i> Склад</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Товары<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <%= link_to "Схемы", patterns_path %>
                            </li>
                            <li>
                                <%= link_to "Нитки", strands_path %>
                            </li>
                            <li>
                                <a href="#">Ткани</a>
                            </li>
                            <li>
                                <a href="#">Наборы</a>
                            </li>
                            <li>
                                <a href="#">Аксессуары</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-newspaper-o fa-fw"></i> Новости</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <%= yield %>
    <!-- Page Content -->

</div>

</body>
</html>
